@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background-color: black;
    padding: 20px 0;
}

.name {
    font-weight: 300;
    color: #ffd85e;
    font-size: 25px;
    margin: auto 50px;
}

.nav-container {
    margin: auto 90px auto auto
}

a {
    transition: 0.15s ease-in-out all;
}

a:hover {
    color: #ffd85e;
}


.links-container {
    transition: colors .5s ease-in-out;
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    margin: 0 25px;
    font-weight: 300;
    font-size: 22px;
}

body {
    background-color: #090909;
}

.container {
    display: flex;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}